<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>
                    <strong>{{this.product.name}}</strong> - Cantidad: {{this.quantity}} - Precio: {{this.product.price}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>El carrito está vacío.</p>
    {{/if}}
</body>
</html>
